In [1]:
# tuples are immutable sequences, typically used to store collections of heterogeneous data
# they are defined by enclosing values in parentheses

# create
# access
# edit
# add
# delete
# operations
# functions

In [2]:
T1=()
print(type(T1))

<class 'tuple'>

In [3]:
T1 = (1, 2, 3, 4, 5) # homogeneous tuple
T2 = (1,2, 'c', 'd', 'e')  # heterogeneous tuple
print(T1)
print(T2)

(1, 2, 3, 4, 5)
(1, 2, 'c', 'd', 'e')

In [4]:
T3=(1)  # single element tuple
print(type(T3))

<class 'int'>

In [5]:
T3=(1,)  # single element tuple
print(type(T3))

<class 'tuple'>

In [6]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [8]:
tuple([1,2,3,4,5]) # list to tuple conversion

(1, 2, 3, 4, 5)

In [9]:
# access
T1 = (10, 20, 30, 40, 50)
print(T1[0])  # first element
print(T1[2])  # third element
print(T1[-1]) # last element
print(T1[-3]) # third last element

10
30
50
30

In [10]:
# edit
# tuples are immutable, so we cannot edit them directly
# but we can convert them to a list, edit the list, and convert it back to a tuple
T1 = (10, 20, 30, 40, 50)
temp_list = list(T1)
temp_list[2] = 99
T1 = tuple(temp_list)   
print(T1)

(10, 20, 99, 40, 50)

In [13]:
# delete
# tuples are immutable, so we cannot delete elements directly
# but we can convert them to a list, delete elements from the list, and convert it
# back to a tuple
T1 = (10, 20, 30, 40, 50)
temp_list = list(T1)
del temp_list[1]  # delete second element
T1 = tuple(temp_list)
print(T1)
# delete entire tuple
del T1
print(T1)  # this will raise an error since T1 is delete

(10, 30, 40, 50)

NameError: name 'T1' is not defined

In [15]:
# operations
T1 = (1, 2, 3)
T2 = (4, 5, 6)
T3 = T1 + T2  # concatenation
print(T3)
T4 = T1 * 3   # repetition
print(T4)
# membership
print(2 in T1)  # True
print(5 not in T1)  # True
# slicing
T5 = (10, 20, 30, 40, 50)
print(T5[1:4])  # (20, 30, 40)
print(T5[:3])   # (10, 20, 30)
print(T5[2:])   # (30, 40, 50)
# length
print(len(T5))  # 5
# functions
T1 = (5, 2, 9, 1, 7)
print(min(T1))  # 1
print(max(T1))  # 9
print(sum(T1))  # 24
print(sorted(T1))  # [1, 2, 5, 7, 9]
print(T1.count(2))  # 1
print(T1.index(9))  # 2
print(T1)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
(20, 30, 40)
(10, 20, 30)
(30, 40, 50)
5
1
9
24
[1, 2, 5, 7, 9]
1
2
(5, 2, 9, 1, 7)

In [ ]:
# tuples are read only data types
# use tuples where data integrity is important