In [1]:
# sets do not allow duplicate values
# sets have no indexing or slicing
# sets do not allow mutable elements like lists or dictionaries
# set itself is a mutable data type

In [2]:
s1={}
print(type(s1))  # this is a dictionary, not a set

<class 'dict'>

In [3]:
s1=set()
print(type(s1))  # this is a set

<class 'set'>

In [4]:
s1={1,2,3,4,5,5,4,3} # homogeneous set
print(s1)
s2={1, 2.5, "hello", (1,2,3), 4+5j} # heterogeneous set
print(s2)

{1, 2, 3, 4, 5}
{1, 2.5, 'hello', (4+5j), (1, 2, 3)}

In [5]:
s1={1,1,2,3 # duplicate values will be ignored
    ,4,5,6,7,8,9,10}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
# access
T1 = {10, 20, 30, 40, 50}
print(T1[0])

TypeError: 'set' object is not subscriptable

In [10]:
# sets cannot be accessed by indexing or slicing
# sets can not be edited
# but we can add or remove elements
s1={10,20,30}
id1 = id(s1)
print(id1)
s1.add(40)
print(s1)
id2 = id(s1)
print(id2)
s1.remove(20)
print(s1)
id3 = id(s1)
print(id3)

if id1 == id2 == id3:
    print("set is mutable")

2276430095616
{40, 10, 20, 30}
2276430095616
{40, 10, 30}
2276430095616
set is mutable

In [11]:
# delete
# del
# remove
# pop
s1={10,20,30,40,50}
print(s1)
del s1
#print(s1)  # this will give error as s1 is deleted
s2={10,20,30,40,50}
print(s2)
s2.remove(30)
print(s2)
s3={10,20,30,40,50}
print(s3)
popped_element = s3.pop()
print(popped_element)
print(s3)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
{50, 20, 40, 10}
{50, 20, 40, 10, 30}
50
{20, 40, 10, 30}

In [14]:
s3={10,20,30,40,50}
print(s3)

{50, 20, 40, 10, 30}

In [15]:
s3.pop()

50

In [16]:
s3.pop()

20

In [17]:
s3.pop()

40

In [18]:
s3.pop()

10

In [19]:
s3.pop()

30

In [20]:
s3.pop()

KeyError: 'pop from an empty set'

In [22]:
print(s3)
id(s3)

set()

2276430095616

In [23]:
# concatenation
s1={1,2,3}  
s2={4,5,6}
s3=s1+s2  # this will give error as sets do not support concatenation
print(s3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
# repetition
s1={1,2,3}
s3=s1*3  # this will give error as sets do not support repetition
print(s3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [25]:
for item in s1:
    print(item)

1
2
3

In [28]:
len(s1)

3

In [31]:
max(s1)

3

In [29]:
min(s1)

1

In [30]:
sum(s1)

6

In [32]:
# union
s1={1,2,3}
s2={3,4,5}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5}

In [33]:
# intersection
s1={1,2,3}
s2={3,4,5}  
s3=s1.intersection(s2)
print(s3)

{3}

In [34]:
s1.difference(s2)

{1, 2}

In [35]:
s2.difference(s1)

{4, 5}

In [36]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [38]:
s1.isdisjoint(s2)

False

In [39]:
s1.issubset(s2)

False

In [40]:
s1.issuperset(s2)

False