In [1]:
# dictionary has no indexing or slicing
# dictionary is mutable
# keys are immutable but values can be mutable or immutable
# keys should be unique


# mutable -> list, dictionary, set
# immutable -> int, float, string, tuple,boolean,complex

In [2]:
D={}
D={'name':'archit','age':21,'marks':[90,95,88]}
print(D)

{'name': 'archit', 'age': 21, 'marks': [90, 95, 88]}

In [3]:
D1={[1,2]:'archi'}

TypeError: unhashable type: 'list'

In [4]:
D1={(1,2):'archi'}

In [5]:
D1={1:2,1:3}
print(D1)

{1: 3}

In [6]:
D2={'name':'archit','age':21,'marks':[90,95,88]} # 2d dictionary

In [7]:
# access
print(D2['name'])
print(D2.get('age'))
print(D2.get('marks')[1])

archit
21
95

In [8]:
# edit
D2['age']=22
print(D2)

{'name': 'archit', 'age': 22, 'marks': [90, 95, 88]}

In [9]:
# add new key value pair
D2['gender']='male'
print(D2)

{'name': 'archit', 'age': 22, 'marks': [90, 95, 88], 'gender': 'male'}

In [10]:
# delete key value pair
del D2['marks']
print(D2)

{'name': 'archit', 'age': 22, 'gender': 'male'}

In [11]:
# concatenation and repetition not possible
# membership operator
print('name' in D2)
print('marks' not in D2)

True
True

In [12]:
# looping through dictionary
for key in D2:
    print(key,':',D2[key])
for key,value in D2.items():
    print(key,':',value)

name : archit
age : 22
gender : male
name : archit
age : 22
gender : male

In [15]:
# functions
print(len(D2))
print(D2.keys())
print(D2.values())
print(D2.items())

3
dict_keys(['name', 'age', 'gender'])
dict_values(['archit', 22, 'male'])
dict_items([('name', 'archit'), ('age', 22), ('gender', 'male')])